.Jogo {
    margin: 59px 59px;
    display: flex;
    justify-content: space-between;
    
}

img {
    width: 400px;
    height: 467px;
}

.Jogo button {
    width: 200px;
    height: 60px;
    margin-top: 30px;

    background: #27AE60;
    color: white;
    border-radius: 8px;
    border-width: 0px;
}

.Jogo p {
    margin-top: 278px;
    font-weight: 700;
    font-size: 50px;
}

.Letras {
    width: 676px;
    margin: 0 auto;
}
.Letras button {
    width: 40px;
    height: 40px;
    margin: 6px 6px;

    background: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}

